/**
 * Container
 *
 * Basic container class to limit the max-width of the layout and add some padding
 *
 * @level X.X.
 */
@mixin u-container($spacing: 0 1em, $max-width: $layout-max-width) {
  margin: 0 auto;
  padding: $spacing;
  max-width: $max-width;
}



/**
 * Default
 *
 * @level X.X.X.
 * @markup
 * <div class="u-container">
 *   <p>stuff to be contained</p>
 * </div>
 */
.u-container {
  @include u-container();
}



/**
 * Narrow
 *
 * @level X.X.X.
 * @markup
 * <div class="u-container-narrow">
 *   <p>stuff to be contained</p>
 * </div>
 */
.u-container-narrow {
  @include u-container(0 1em, 48em);
}
